{% extends "@Hotel/Admin/layout.html.twig" %}
{% block title %}Rooms{% endblock %}
{% block styles %}
{{ parent() }}
<style media="screen">




</style>
{% endblock %}

{% block content %}
<div class="">
    <a href="{{ path('admin_room_create') }}">+ Добавить номер</a>
</div>

<h3>Rooms</h3>


<table class="table">
    <thead>
      <th>ID</th>
      <th>Title</th>
      <th></th>
    </thead>
    <tbody>
    {% for room in rooms %}
    <tr>
        <td>{{ room.id }}</td>
        <td>{{ room.title }}</td>
        <td><a href="{{ path('admin_room_editor', {'roomId': room.id}) }}">Редактировать</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
